{% extends "base.html" %}

{% block title %}Group{% endblock title %}

{% block content %}
<h2>Choose your group</h2>
<form method="post" class="container-fluid justify-content-start">
    {% csrf_token %}
    <fieldset>

        <div class="input-group mb-3">
            <input type="text" placeholder="Group" 
            aria-label="Group" aria-describedby="basic-addon1" name='group'>
        </div>

        <select class="form-select" aria-label="Default select example" name="is_session">
            <option selected>Choose your schedule</option>
            <option value="1">Semester</option>
            <option value="2">Session</option>
        </select>
          <br></br>
    </fieldset>
    <input class="btn btn-success" type="submit" value="Get schedule!">
</form>
{% endblock content %}