{% extends "base.html" %}

{% block title %}Schedules site{% endblock title %}

{% block content %}
<div class="col-md-7" style="margin: auto; margin-top: 20px;">
    <div class="h-100 p-5 bg-body-tertiary border rounded-5">
    <h2 class="display-4 text-center">Your schedules site</h2>
    <p class="display-6">Welcome to the Schedules site. 
       Here you can track your lessons schedules via this site or via our connected telegram bot.
       Study/teach with comfort. 
       Good luck! :) 
    </p>
    <div>
        <a href="{% url "get_group" %}" class="btn btn-primary">For students</a>
        <a href="{% url "get_teacher" %}" class="btn btn-primary">For teachers</a>
    </div>
    </div>
{% endblock content %}