{% extends "base.html" %}

{% block content %}
<div class="col-md-7" style="margin: auto; margin-top: 40px;">
  <div class="h-100 p-5 bg-body-tertiary border rounded-5">
<h2 class="display-6 text-center">About project</h2>
<p>Here's my text</p>
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Users guide
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <p>Some advices</p>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Telegram bot guide
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <p>Some advices</p>
      </div>
    </div>
  </div>

</div>
{% endblock content %}