{% extends "crud_base.html" %}

{% block crud %}
<h2 class="dispaly-6 text-cter">{{model}} list for {{user.university}}</h2>
<table>
      <tbody>
        {% for object in objects %}
            <tr>
                <th scope="row">{{object.name}}</th>
                {% if model == 'Group' %}
                    <td><a href="{% url 'edit_group' object.pk %}" class="btn btn-primary">Edit</a></td>
                    <td><a href="{% url 'delete_group' object.pk %}" class="btn btn-primary">Delete</a></td>
                    <td><a href="{% url 'detail_group' object.pk %}" class="btn btn-primary">Details</a></td>
                {% elif model == 'Teacher' %}
                    <td><a href="{% url 'edit_teacher' object.pk %}" class="btn btn-primary">Edit</a></td>
                    <td><a href="{% url 'delete_teacher' object.pk %}" class="btn btn-primary">Delete</a></td>
                    <td><a href="{% url 'detail_teacher' object.pk %}" class="btn btn-primary">Details</a></td>
                {% endif %}
            </tr>
        {% endfor %}
      </tbody>
</table>
{% endblock crud %}