{% extends "schedule_base.html" %}

 
{% block schedules_content %}
{% if day_pk == current_day and current_num_lesson == num_lesson and week == NUM_WEEK%}
<td class="table-info table-active">
    <div>
    <a href="{{ lesson.hyper_link }}">{{ lesson.title }}</a>
    <br>
    {% for teacher in lesson.teacher.all %}
        {% if user.is_authenticated %}
            <a href="{% url "detail_teacher" teacher.pk%}" class="btn btn-outline-success">{{ teacher.postion }} {{ teacher.name }} </a>
        {% else %}
            <a href="{{ teacher.hyper_link }}">{{ teacher.postion }} {{ teacher.name }} </a>
        {% endif %}
    {% endfor %}
    </br>
    <p class="text-muted">{{ lesson.lesson_type }}</p>
    {% if user.is_authenticated and user.is_stuff and user.university == university%}
        <a href="{% url "detail_lesson" lesson.pk %}" class="btn btn-outline-success">view</a>
    {% endif %}
    </div>
</td>
{% else %}
<td>
    <div>
    <a href="{{ lesson.hyper_link }}">{{ lesson.title }}</a>
    <br>
    {% for teacher in lesson.teacher.all %}
        {% if user.is_authenticated %}
            <a href="{% url "detail_teacher" teacher.pk%}" class="btn btn-outline-success">{{ teacher.postion }} {{ teacher.name }} </a>
        {% else %}
            <a href="{{ teacher.hyper_link }}">{{ teacher.postion }} {{ teacher.name }} </a>
        {% endif %}
    {% endfor %}
    </br>
    <p class="text-muted">{{ lesson.lesson_type }}</p>
    {% if user.is_authenticated and user.is_stuff and user.university == university%}
        <a href="{% url "detail_lesson" lesson.pk %}" class="btn btn-outline-success">view</a>
    {% endif %}
    </div>
</td>
{% endif %}
{% endblock schedules_content %}