{% extends "crud_base.html" %}

{% block crud %}
    <h2 class="display-6 text-center"><a href="{{ lesson.hyper_link }}">{{ lesson.title }}</a></h2>
        <br>
        {% for teacher in lesson.teacher.all %}
        <h4 class="display-10"><a href="{{ teacher.hyper_link }}">{{ teacher.postion }} {{ teacher.name }} </a></h2>
        {% endfor %}
        </br>

        <p>{{ lesson.lesson_type }} | Week: {{ lesson.num_week }} | Day: {{ lesson.day }} | Number: {{ lesson.num_lesson }}</p>
    <a href="{% url "update_lesson" lesson.pk%}" class="btn btn-primary">Edit</a>
    <a href="{% url "delete_lesson" lesson.pk%}" class="btn btn-primary">Delete</a>
{% endblock crud %}