{% extends "crud_base.html" %}

{% block crud %}
    <h2 class="display-6 text-center">{{ teacher.name }}</h2>
    <p class="display-6">
        {{ teacher.postion }}
        {{ teacher.university }}
    </p>
    <div class="text-center">
    <a href="{% url 'edit_teacher' teacher.pk %}" class="col-2 btn btn-primary">Edit</a>
    <a href="{% url 'delete_teacher' teacher.pk %}" class="col-2 btn btn-danger">Delete</a>
    <a href="{% url 'new_teacher' %}" class=" col-2 btn btn-primary">Create another one</a>
    </div>
{% endblock crud %}