{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block content %}
<div class="col-md-7" style="margin: auto; margin-top: 40px;">
    <div class="h-100 p-5 bg-body-tertiary border rounded-5">
        {% block crud %}{% endblock crud %}
    </div>
{% endblock content %}

{% block footer %}
<footer class="fixed-bottom bg-body-tertiary">
    <div class="text-lg-center">
    {% if user.is_authenticated and user.is_stuff%}
        <a href="{% url "new_lesson" %}" class="col-3 btn btn-success">Create new lesson</a>
        <a href="{% url "new_group" %}" class="col-3 btn btn-success">Create new group</a>
        <a href="{% url "new_teacher" %}" class="col-3 btn btn-success">Create new teacher</a>
    {% endif %}
</footer>
{% endblock footer %}